
        * {
            margin: 0%;
            padding: 0%;
            box-sizing: border-box;
        }

        body {
            color: wheat;
            font-family: Arial, Helvetica, sans-serif;
            background-color: #f4f4f4;
            text-align: center;
            padding: 50px;
            background: url('../assets/img/menupiz.jpg');
            /* Reemplaza 'ruta/a/tu/imagen.jpg' con la ruta correcta de tu imagen */
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: fixed;
            background-size: cover;

        }

        .formulario {
            display: flex;
            text-align: center;
            padding: 4px;
            margin: 4px;
            display: flex;
            align-items: center;
            justify-content: center;

        }

        .tabla {
            display: flex;
            justify-content: center;
        }

        h1 {
            margin-top: 20px;
            text-align: center;
        }

        h2 {
            padding: 4px;
            margin: 4px;
        }

        table {
            border-collapse: collapse;
            text-align: center;
            background: burlywood;
            border: none;
            margin: 4px;
        }

        th,
        td {
            color: black;
            padding: 4px;
        }

        td:hover {
            transform: scale(1.5);
            transition: transform 0.3s ease;
            background-color: whitesmoke;
        }

        th:hover {
            transform: scale(1.5);
            transition: transform 0.3s ease;
            background-color: whitesmoke;
        }

        /* td:nth-child(3) {
            text-align: justify;
        } */
        .esconde {
            display: none;
        }

        a {
            display: flex;
            align-content: center;
            justify-content: center;
            padding: 10px;
            color:beige;
        }

        .escondido {
            display: inline-block;
            width: 7%;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            cursor: pointer;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f0f0f0;
            color: #333;
            transition: background-color 0.3s ease;
            margin: 4px;
            padding: 4px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
        }

        .buttones {
            text-align: center;
            display: flex;
            align-items: center;
            align-content: center;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: center;
        }

        p {
            text-align: center;
            padding: 4px;
            margin: 4px;
        }

        .mostrar {
            display: flex;
            display: none;
            text-align: center;
            align-items: center;
            justify-content: center;
        }
        
